@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-wine: #2C0715;
  --color-rose: #7F163D;
  --color-dusty: #C0949F;
  --color-copper: #B95929;
  --color-cream: #ECDDD5;
}